/* src/assets/Stylesheets/Navbar.css */

.menuDesktop {
    display: none;
}

.menuMobile {
    display: flex;
}

/* Show desktop menu items and hide mobile menu items on larger screens */
@media (min-width: 600px) {
    .menuDesktop {
        display: flex;
    }
    .menuMobile {
        display: none;
    }
}

/* Make the navbar background slightly opaque and more opaque on hover */
.navbar {
    background-color: rgba(255, 255, 255, 0.8) !important; /* Add a subtle white background with opacity */
    transition: background-color 0.3s ease !important;
    position: fixed; /* Fixed position to stay at the top */
    width: 100%;
    top: 0;
    left: 0;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 1) !important; /* Make it fully opaque on hover */
}

/* Set default text color to black for better contrast */
.navbar .MuiToolbar-root {
    justify-content: space-between;
}

.navbar .MuiButton-root,
.navbar .MuiTypography-root,
.navbar .MuiIconButton-root {
    color: black !important; /* Ensure the text color is black */
    font-family: 'Playfair Display', serif;
}

/* Optionally adjust text color on hover */
.navbar:hover .MuiButton-root,
.navbar:hover .MuiTypography-root,
.navbar:hover .MuiIconButton-root {
    color: black !important; /* Ensure the text color remains black on hover */
}
